.models {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.models div[class="model"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.32rem;
  border: 0.12rem solid hsl(204, 100%, 49%);
  border-radius: 0.32rem;
  min-width: 12rem;
  max-width: 12rem;
  padding: 0.32rem;
  margin-top: 1rem;
}

.models div[class="model-head"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.12rem solid hsl(204, 100%, 49%);
  font-weight: bold;
}

.models div[class="model-head"] span {
  max-width: 12rem;
  word-wrap: break-word;
}

.models div[class="model-uploaded-by"] {
  font-style: italic;
}

.models div[class="model-image"] img {
  width: 12rem;
  height: 12rem;
  padding: 0.32rem;
  border-radius: 0.6rem;
}

.models div[class="model-statistics"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.models div[class="model-statistics"] > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.models div[class="model-statistics"] > p > svg {
  width: 1.32rem;
  height: 1.32rem;
}

