.model {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.08);
  border-radius: 0.32rem;
}

.model-image {
  display: flex;
  flex-wrap: wrap;
  gap: 0.32rem;
  max-width: 50%;
  height: min-content;
}

.model-image-main {
  height: max-content;
}

.model-image-main img {
  max-width: 33rem;
  max-height: 33rem;
  border-radius: 1.32rem;
}

.model-image-additional {
  display: flex;
  flex-wrap: wrap;
  gap: 0.32rem;
}

.model-image-additional img {
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 0.32rem;
  cursor: pointer;
}

.model-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.model-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  overflow-wrap: break-word;
  font-weight: bold;}

.model-name h2 {
  overflow-wrap: break-word;
}

.model-description p {
  font-style: italic;
}

.model-header {
  border-bottom: 0.12rem solid hsl(204, 100%, 49%);
}

.model-statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.12rem dotted hsl(204, 100%, 49%);
  padding: 0.32rem;
}

.model-statistics-download-count,
.model-statistics-likes-count,
.model-statistics-comments-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-statistics-download-count,
.model-statistics-likes-count,
.model-statistics-comments-count svg {
  width: 3rem;
}

.model-download-like-comment {
  display: flex;
  gap: 0.32rem;
}

.model-download-like-comment a {
  text-decoration: none;
  width: 100%;
}

.model-download-like-comment button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(204, 100%, 49%);
  color: hsl(0, 0%, 100%);
  padding: 0.12rem;
  margin-top: 0.32rem;
  font-weight: bold;
  border: 0;
  border-radius: 0.12rem;
  width: 100%;
  cursor: pointer;
  transition: 0.12s linear;
}

.model-download-like-comment button:hover {
  color: hsl(204, 100%, 49%);
  background: hsl(0, 0%, 100%);
  outline: 0.12rem solid hsl(204, 100%, 49%);
}

.model-download-like-comment button:hover svg path {
  fill: hsl(204, 100%, 49%);
}

.model-download-like-comment svg {
  width: 1rem;
  height: 1rem;
}

.model-download-like-comment svg path {
  fill: white;
}

.model-administration-buttons {
  display: flex;
  gap: 0.32rem;
}

.model-administration-buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  padding: 0.12rem;
  margin-top: 0.32rem;
  font-weight: bold;
  border: 0;
  border-radius: 0.12rem;
  height: 1.32rem;
  cursor: pointer;
  transition: 0.12s linear;
  padding: 0.32rem;
}

.model-administration-buttons button svg {
  width: 1rem;
  height: 1rem;
}

.model-administration-buttons a {
  text-decoration: none;
}

.model-administration-buttons-edit {
  background: orange;
}

.model-administration-buttons-delete {
  background: red;
}

.model-administration-buttons-feature {
  background: hsl(204, 100%, 49%);
}

.model-administration-buttons-remove-feature {
  background: red;
}

.model-administration-buttons-feature:hover {
  color: hsl(204, 100%, 49%);
  background: hsl(0, 0%, 100%);
  outline: 0.12rem solid hsl(204, 100%, 49%);
}

.model-administration-buttons-remove-feature:hover {
  color: red;
  background: hsl(0, 0%, 100%);
  outline: 0.12rem solid red;
}

.model-administration-buttons-edit:hover {
  color: orange;
  background: hsl(0, 0%, 100%);
  outline: 0.12rem solid orange;
}

.model-administration-buttons-delete:hover {
  color: red;
  background: hsl(0, 0%, 100%);
  outline: 0.12rem solid red;
}

.model-is-featured {
  font-weight: bold;
  color: hsl(204, 100%, 49%);
}

.model-is-featured p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-is-featured svg {
  width: 3rem;
  fill: hsl(204, 100%, 49%);
  stroke: goldenrod;
  stroke-width: 0.12rem;
}

.model-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.12rem;
  margin-top: 1rem;
  padding: 0.32rem;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.08);
}

.model-comments h4 {
  padding: 1rem;
}

.model-comments form {
  width: 100%;
  box-shadow: none;
}

.model-comments textarea {
  resize: none;
}

.model-comments-list {
  padding: 1rem;
}

.model-comments-list-single-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.32rem;
}

.model-comments-list-single-comment-delete button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.model-comments-list-single-comment-delete button:hover {
  cursor: pointer;
}

.model-comments-list-single-comment-delete button svg {
  width: 1rem;
  height: 1rem;
}

.model-comments-list-single-comment-username {
  font-weight: bold;
}

.model-comments-list-single-comment-content {
  font-style: italic;
}

button:disabled {
  background: lightgray;
}